# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
!kpm-project-11.cc
!kpm-project-11-no-rem.cc
!export/
nested-subdir/
subdir/
scratch-simulator.cc
CMakeLists.txt
